ejercicio02.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT juego (nombre,ubicacion,equipo+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ubicacion (#PCDATA)>
<!ELEMENT equipo (nombre,director,jugadores)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT jugadores (jugador*)>
<!ELEMENT jugador (nombre,apellido?,cantidad?,funcion,fSecundaria?)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT funcion (#PCDATA)>
<!ELEMENT fSecundaria (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
